<ul class="clients-grid grid-5 nobottommargin clearfix">
  	<% cars.forEach(function(car){ %>
      <li><a href="<%=car.name%>"><img src="<%=car.logo%>" alt="<%=car.name%>"/></a></li>
    <% }) %>
</ul>