<ul class="clients-grid grid-5 nobottommargin clearfix">
  	<% cars.forEach(function(car){ %>
      <li><a a href="#" data-toggle="modal" data-target="#myModal"><img src="<%=car.logo%>" alt="<%=car.name%>"/></a></li>
    <% }) %>
</ul>