		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder footer_bg" >
			<div id="copyrights">
				<div class="container center clearfix">
					SuperCarsta is a thing made by <a href="http://www.kevin-he.com" target="_blank">Kevin He</a> | All Rights Reserved
				</div>
			</div>
		</footer><!-- #footer end -->